The main idea of this homework is to understand 

        - split function

        - debug the program

        - looping and conditional constructs

In [1]:
# get the string from the user. convert the string into list 

lots_of_spaces = 'hello        how        are      you?'
lots_of_comma = 'hello,how,are,you?'

print(lots_of_spaces.split())
print(lots_of_comma.split())
# Hint: split

['hello', 'how', 'are', 'you?']
['hello,how,are,you?']

In [2]:
# Find the bug 
# calculate the 2 to the power of 5 

print(pow(2,5))
print(2**5)

32
32

In [2]:
# Develop Arithmetic calculator based on user choice the program should perform arithmetic operation (Any 7 opeations)
num1= int(input("enter the first number"))
num2= int(input("enter the second number"))

sum= num1 + num2
division = num1/num2
mod = num1%num2 
subtract = num1- num2
multiply = num1*num2
power= num1** num2 
parenthesis = num1 + num2 - (num1/num2)

print(sum)
print(division)
print(mod)
print(subtract)
print(multiply)
print(power)
print(parenthesis)

enter the first number6
enter the second number5
11

In [4]:
# Develop String Calculator based on user choice the program should perform string operations (Any 5 operations )
num1= str(input("enter the first number"))
num2= str(input("enter the second number"))

sum= str(num1+num2)
print(sum)

enter the first number5
enter the second number5
55

In [1]:
# Write a program to prompt the user for hours and rate per hour to compute gross pay.
# Take into account that the university gives the employee 2.5 times the hourly rate for hours worked above 50 hours.
hours_worked = float(input("enter the number of hours"))
rate_per_hour = float(input("enter the rate"))

if hours_worked > 50 :
  print((hours_worked-50)*(2.5*rate_per_hour) +50* rate_per_hour)
elif hours_worked < 50:
  print(hours_worked*rate_per_hour)

enter the number of hours51
enter the rate10
525.0

In [18]:
# Create a list called hobbies. Create a for loop that prompts the user for a hobby 3 times, then appends each one to hobbies in the list
# Hint 1 : List 
# Hint 2 : append

hobbies = []
for i in range(0,3):
  x= input("enter your hobby")
  hobbies.append(x)
print(hobbies)

enter the valueg
enter the valueg
enter the valueg
['g', 'g', 'g']

In [23]:
# Write a Python program to check whether the given integer is a multiple of both 5 and 7 . 
num= int(input("enter the number"))
if num % 5 == 0:
  if num % 7 == 0:
    print("it is divisible")
  else: 
    print("it is not")
else:
  print("it is not")

enter the number35
it is divisible

In [26]:
# Find the error and correct the mistakes 
# the main idea of this code is to print the data from the dictionary (Data structure)

phone_book = {
'John' : [ '8592970000', 'john@xyzmail.com', 'Humpi' ],
'Bob': [ '7994880000', 'bob@xyzmail.com','Manipal' ],
'Tom' : [ '9749552647' , 'tom@xyzmail.com','Udupi' ]
}
for k,v in phone_book.items():
  print(k, v)

John ['8592970000', 'john@xyzmail.com', 'Humpi']
Bob ['7994880000', 'bob@xyzmail.com', 'Manipal']
Tom ['9749552647', 'tom@xyzmail.com', 'Udupi']

In [32]:
# Find the bug 
# print all the numbers between 2 and 8 

list = [ ]
for i in range(0,10):
  if (i < 8) and (i > 2):
    list.append(i)
print(list)

[3, 4, 5, 6, 7]

In [38]:
# find the bug
# Suppose you are trying to compute a signal-to-noise ratio in
# decibels. The formula is SNRdb = 10log10(Psignal /Pnoise).

import math
signal_power = 9
noise_power = 10
ratio = signal_power /noise_power
print(ratio)
decibels = 10 * math.log10(ratio)
print(decibels)

0.9
-0.4575749056067512

In [40]:
# Check whether the number is present in the list or not 
list = [1, 2, 3, 4, 5 ]
# in is used to check whether the member is present or not 
if 'a' in list :
  print("it is in the list")
else: 
  print("it is not in the list ")

it is not in the list

In [43]:
# check whether the number is same or not 
# use of identity opeartor is 
# find the bug 

a=10
b=20 
if ( a is not b ):
  print (" a and b do not have same identity")
else:
  print ("a and b have same identity")

 a and b do not have same identity

In [46]:
# Find the bug 

# Prints out 0,1,2,3,4 using while loop
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
      break

0
1
2
3
4

In [50]:
# Prints out only even numbers - 2,4,6,8,10 using for loop and continue
# find the bug 

for X in range(1,11):
    # Check if x is even
    if X % 2 != 0:
        continue
    print(X)

2
4
6
8
10

In [53]:
# Printing even and odd numbers using for loop and ternary operator
# find the bug 

for i in range(10):
     print(str(i) + " is even number") if(i % 2 == 0) else print(str(i) + " is odd number")

0 is even number
1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number

In [56]:
# Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
#between 5 and 4570 (both included).

for i in range(5,4571):
  if i%7== 0 and i%5!=0:
    print(i)

7
14
21
28
42
49
56
63
77
84
91
98
112
119
126
133
147
154
161
168
182
189
196
203
217
224
231
238
252
259
266
273
287
294
301
308
322
329
336
343
357
364
371
378
392
399
406
413
427
434
441
448
462
469
476
483
497
504
511
518
532
539
546
553
567
574
581
588
602
609
616
623
637
644
651
658
672
679
686
693
707
714
721
728
742
749
756
763
777
784
791
798
812
819
826
833
847
854
861
868
882
889
896
903
917
924
931
938
952
959
966
973
987
994
1001
1008
1022
1029
1036
1043
1057
1064
1071
1078
1092
1099
1106
1113
1127
1134
1141
1148
1162
1169
1176
1183
1197
1204
1211
1218
1232
1239
1246
1253
1267
1274
1281
1288
1302
1309
1316
1323
1337
1344
1351
1358
1372
1379
1386
1393
1407
1414
1421
1428
1442
1449
1456
1463
1477
1484
1491
1498
1512
1519
1526
1533
1547
1554
1561
1568
1582
1589
1596
1603
1617
1624
1631
1638
1652
1659
1666
1673
1687
1694
1701
1708
1722
1729
1736
1743
1757
1764
1771
1778
1792
1799
1806
1813
1827
1834
1841
1848
1862
1869
1876
1883
1897
1904
1911
1918
1932
1939
1946
1953
1967
1974
1981
1988
2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199
3206
3213
3227
3234
3241
3248
3262
3269
3276
3283
3297
3304
3311
3318
3332
3339
3346
3353
3367
3374
3381
3388
3402
3409
3416
3423
3437
3444
3451
3458
3472
3479
3486
3493
3507
3514
3521
3528
3542
3549
3556
3563
3577
3584
3591
3598
3612
3619
3626
3633
3647
3654
3661
3668
3682
3689
3696
3703
3717
3724
3731
3738
3752
3759
3766
3773
3787
3794
3801
3808
3822
3829
3836
3843
3857
3864
3871
3878
3892
3899
3906
3913
3927
3934
3941
3948
3962
3969
3976
3983
3997
4004
4011
4018
4032
4039
4046
4053
4067
4074
4081
4088
4102
4109
4116
4123
4137
4144
4151
4158
4172
4179
4186
4193
4207
4214
4221
4228
4242
4249
4256
4263
4277
4284
4291
4298
4312
4319
4326
4333
4347
4354
4361
4368
4382
4389
4396
4403
4417
4424
4431
4438
4452
4459
4466
4473
4487
4494
4501
4508
4522
4529
4536
4543
4557
4564

In [ ]:
# Write a program which accepts input to convert the temperature from one unit to another based on user choice 
# fahrenheit to celsius or celsius to fahrenheit until they say "Quit".

# Hint: infinite loop

Write a program that converts the temperature in Celsius to Fahrenheit. Have the program output two columns. In the first column, it prints out the temperature in Celsius, and the second in Fahrenheit. Have the data print out all integer values of Celsius from 0 to 100 in 3 degree increments. Have the data print out the Fahrenheit to 1 decimal

Sample Output (in 4 degree increments for Celsius)![py08_fig1.png]()

sample output

In [11]:
print("celsius   fahrenheit")
for c in range(0,101,3):
    f=(9.0/5.0)*c+32
    print("%5d %9.1f" %(c,f))

celsius   fahrenheit
    0      32.0
    3      37.4
    6      42.8
    9      48.2
   12      53.6
   15      59.0
   18      64.4
   21      69.8
   24      75.2
   27      80.6
   30      86.0
   33      91.4
   36      96.8
   39     102.2
   42     107.6
   45     113.0
   48     118.4
   51     123.8
   54     129.2
   57     134.6
   60     140.0
   63     145.4
   66     150.8
   69     156.2
   72     161.6
   75     167.0
   78     172.4
   81     177.8
   84     183.2
   87     188.6
   90     194.0
   93     199.4
   96     204.8
   99     210.2