In [1]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [8]:
string = "   to err is human , to fORgive is divine   "
print(string.upper())   #all lower case
print(string.lower())   #all upper case
print(string.title())   #all first letter capitals
print(string.strip())   #removes extra whitespace
print(string.swapcase())#swaps case
print(string.lstrip())  #left side whitespace
print(string.rstrip())  #rightside whitespace
print(string.split())   #splits to list
print(string.startswith("to"))   # return true or false for the argument passed
print(string.zfill(50)) #adds 0 to the string till it reaches the integer value
print(string.center(50))# center the string
print(string.replace("human","alien"))   #replaces the first argument with second
print(string.join("#"))
print(string.capitalize())
print(string.count("err"))
print(string.translate("err"))
print(string.partition("err"))
print(string.find("err"))
print(string.index("err"))

   TO ERR IS HUMAN , TO FORGIVE IS DIVINE
   to err is human , to forgive is divine
   To Err Is Human , To Forgive Is Divine
to err is human , to fORgive is divine
   TO ERR IS HUMAN , TO ForGIVE IS DIVINE
to err is human , to fORgive is divine
   to err is human , to fORgive is divine
['to', 'err', 'is', 'human', ',', 'to', 'fORgive', 'is', 'divine']
False
000000   to err is human , to fORgive is divine
      to err is human , to fORgive is divine
   to err is alien , to fORgive is divine
#
   to err is human , to forgive is divine
1
   to err is human , to fORgive is divine
('   to ', 'err', ' is human , to fORgive is divine   ')
6
6

In [17]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [68]:
list1=["to","err","is","human"]

list1.append("err")
print(list1)

b=list1.count("err")
print(b)

list1.extend(["heloo hi"])
print(list1)

list1.insert(2,"hello")
print(list1)

c= list1.copy()
print(c)

list1.reverse()
print(list1)

list1.sort(reverse=True)
print(list1)

list1.pop(1)
print(list1)

list1.sort()
print(list1)

list1.remove("human")
print(list1)

c=list1.index("to")
print(c)

list1.clear()

['to', 'err', 'is', 'human', 'err']
2
['to', 'err', 'is', 'human', 'err', 'heloo hi']
['to', 'err', 'hello', 'is', 'human', 'err', 'heloo hi']
['to', 'err', 'hello', 'is', 'human', 'err', 'heloo hi']
['heloo hi', 'err', 'human', 'is', 'hello', 'err', 'to']
['to', 'is', 'human', 'heloo hi', 'hello', 'err', 'err']
['to', 'human', 'heloo hi', 'hello', 'err', 'err']
['err', 'err', 'hello', 'heloo hi', 'human', 'to']
['err', 'err', 'hello', 'heloo hi', 'to']
4

In [48]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [11]:
tuplee = (1,2,3,"a","b","c","hi","hello","vanakam")

c = tuplee.count("hello")
print(c)

b = tuplee.index("a")
print(b)

print(len(tuplee))

import copy
copytuple= copy.copy(tuplee)
print(copytuple)

multuple= 3*tuplee
print(multuple)

tup=(34,5,9)
addtup = tup+tuplee
print(addtup)

1
3
9
(1, 2, 3, 'a', 'b', 'c', 'hi', 'hello', 'vanakam')
(1, 2, 3, 'a', 'b', 'c', 'hi', 'hello', 'vanakam', 1, 2, 3, 'a', 'b', 'c', 'hi', 'hello', 'vanakam', 1, 2, 3, 'a', 'b', 'c', 'hi', 'hello', 'vanakam')
(34, 5, 9, 1, 2, 3, 'a', 'b', 'c', 'hi', 'hello', 'vanakam')

In [12]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [22]:
thisset= {1,2,3,False, "hello","world",True}

print(thisset)

print(len(thisset))
print(type(thisset))

thisset.add("vanakam")
print(thisset)

anotherset={"sayonara","goodbye"}
thisset.update(anotherset)
print(thisset)

anotherset.remove("sayonara")
print(anotherset)

set1= thisset.union(anotherset)
print(set1)

set2= thisset.intersection(anotherset)
print(set2)

set4= copy.copy(set1)
print(set4)

{False, 1, 2, 3, 'hello', 'world'}
6
<class 'set'>
{False, 1, 2, 3, 'vanakam', 'hello', 'world'}
{False, 1, 2, 3, 'sayonara', 'vanakam', 'goodbye', 'hello', 'world'}
{'goodbye'}
{False, 1, 2, 3, 'sayonara', 'vanakam', 'goodbye', 'hello', 'world'}
{'goodbye'}
{False, 1, 2, 3, 'sayonara', 'vanakam', 'goodbye', 'hello', 'world'}

In [24]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [14]:
thisdict= {
    "name": "shakespeare",
    "book": "hamlet",
    "year":  1790
}
print(thisdict)

print(thisdict["book"])
print(thisdict.get("book"))
print(thisdict.keys())
print(thisdict.values())

thisdict["name"] = "hosseini"
thisdict["age"]= 43
print(thisdict)

thisdict.pop("name")
print(thisdict)

thisdict.popitem()
print(thisdict)

nesteddict = {
    "person1":{
        "name":"fiona",
        "place":"mangalore"
    },
    "person2":{
        "name": "abhijna",
        "place": "france"
    }
}

print(nesteddict)

{'name': 'shakespeare', 'book': 'hamlet', 'year': 1790}
hamlet
hamlet
dict_keys(['name', 'book', 'year'])
dict_values(['shakespeare', 'hamlet', 1790])
{'name': 'hosseini', 'book': 'hamlet', 'year': 1790, 'age': 43}
{'book': 'hamlet', 'year': 1790, 'age': 43}
{'book': 'hamlet', 'year': 1790}
{'person1': {'name': 'fiona', 'place': 'mangalore'}, 'person2': {'name': 'abhijna', 'place': 'france'}}